@import "/src/utils/colors.scss";

.services_section {
  --section-x-padding: 50px;

  color: white;
  display: flex;
  flex-direction: column;
  padding: 0 var(--section-x-padding);
  margin-bottom: 100px;
  opacity: 0; // For reveal on scroll

  transition: opacity 1s; // For reveal on scroll
}

.section_title {
  color: $primary-text-color;
  font-size: 20px;
  font-family: "Rajdhani", cursive;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}

.title {
  font-size: 22px;
  font-family: "Rajdhani", cursive;
  font-weight: bold;
  text-align: center;
}

.services_container {
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
  width: calc(100vw - 2 * val(--section-x-padding));
}

.service_card {
  width: 300px;
  height: 300px;
  background-color: $secondary-button-color;
  padding: 20px;
  margin-top: 30px; // For hovering
  opacity: 0; // For reveal on scroll
  transition: opacity 1s, margin 0.5s; // For reveal on scroll
}

.service_icon {
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
}

.service_title {
  font-family: "Rajdhani", cursive;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.service_description {
  font-family: "Rajdhani";
  font-size: 16px;
  line-height: 20px;
}

.menu_call_to_action_but {
  user-select: none;
  cursor: pointer;
  margin: 50px 0px;
  padding: 15px 10px;
  width: fit-content;
  background-color: $primary-button-color;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  align-self: center;
  transition: transform 0.5s, background-color 0.5s;
}

@import "./{styles}/ServicesSection.1024mx.module.scss";
@import "./{styles}/ServicesSection.768mx.module.scss";
@import "./{styles}/ServicesSection.500mx.module.scss";

/*
 * -----------------------------------  Temp class  ------------------------------------------------------------
 */
.reveal {
  opacity: 1;
}

/*
 * -----------------------------------  Pseudo classes & selectors  --------------------------------------------
 */
/* To prevent Hovering effects on click in Mobile / Touch enabled devices*/
@media (hover: hover) {
  .service_card:hover {
    margin-top: 15px; // decreasing from 25 to 20. so that it'll go upside when hovering
  }

  .menu_call_to_action_but:hover {
    // padding: 25px 20px;
    transform: scale(1.1);
    background-color: rgb(215, 57, 0);
  }
}
