@import "/src/utils/colors.scss";

$scroll-reveal-transition: 1s;

.why_us_section {
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;

  // For Reveal on scroll
  overflow: hidden; //Y-axis is also hidden because pic goes out out parent
}

.details {
  width: 50%;
  height: 100%;
  padding-top: 50px;
  color: $secondary-text-color;
  transition: transform $scroll-reveal-transition;
}

.pic {
  width: auto;
  height: 400px;
  object-fit: cover;

  transition: transform $scroll-reveal-transition;
}

.details .section_title {
  color: $primary-text-color;
  font-size: 20px;
  font-family: "Rajdhani", cursive;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
}

.details .title {
  font-size: 22px;
  font-family: "Rajdhani", cursive;
  margin-bottom: 30px;
  font-weight: bold;
}

.details .description {
  font-family: "Rajdhani";
  font-size: large;
  letter-spacing: 1px;
  line-height: 24px;
}

.details .call_to_action_but {
  user-select: none;
  cursor: pointer;
  margin: 50px 0px;
  padding: 15px 10px;
  width: fit-content;
  background-color: $primary-button-color;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  transition: transform 0.5s, background-color 0.5s;
}

@import "./{styles}/WhyUsSection.768mx.module.scss";
@import "./{styles}/WhyUsSection.768mn.module.scss";
@import "./{styles}/WhyUsSection.1200mn.module.scss";

/**
* ------------------------------------------------  Temp styles  ---------------------------------------------------
*/
.slide_in {
  transform: translateX(0);
}

/**
* ------------------------------------------------  Pseudo Classes & selectors  ------------------------------------------
*/
/* To prevent Hovering effects on click in Mobile / Touch enabled devices*/
@media (hover: hover) {
  .call_to_action_but:hover {
    // padding: 25px 20px;
    transform: scale(1.1);
    background-color: rgb(215, 57, 0);
  }
}
