$primary-color: #ff9e68;
$secondary-color: black;
$tertiary-color: #0a0b0c;

$primary-button-color: #f57934;
$secondary-button-color: #222222;

$primary-text-color: #ff9e68;
$secondary-text-color: white;
$tertiary-text-color: #fedac5;
