@media only screen and (max-width: 500px) {
  .stay_updated_section {
    height: 80vh;
  }

  .stay_updated_section .content {
    width: 90%;
  }

  .stay_updated_section .title {
    font-size: medium;
  }
}
